img {
  width: 20%;
  display: block
}

.img-section {
  display: flex;
  justify-content: center;
  /* max-width: 50%; */
}

h1 {
  font-size: 2rem;
  text-align: center
}

.h2-container {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1rem;
  padding: 0.5rem;
}